Conform to RFC 1341 Content-Type multipart boundary specification

I've been toying around with this project on my RPi2 as a way of exploring the Balena concepts and got curious about the Content-Type 'multipart/x-mixed-replace' where a boundary is specified for each stream frame.

According to RFC 1341, section 7.2  The Multipart Content-Type, subsection 7.2.1  Multipart: The common syntax (Link: https://tools.ietf.org/html/rfc1341):

_The  encapsulation  boundary   is defined   as  a  line  consisting  entirely  of  two  hyphen characters ("-", decimal code 45) followed by  the  boundary parameter value from the Content-Type header field._

...

_Thus, a typical multipart Content-Type header field might look like this:_

> Content-Type: multipart/mixed;
>                 boundary=gc0p4Jq0M2Yt08jU534c0p

_This indicates that the entity consists  of  several  parts, each itself with a structure that is syntactically identical to an RFC 822 message, except that the header area might  be completely  empty,  and  that the parts are each preceded by the line_

> --gc0p4Jq0M2Yt08jU534c0p

Thus, the server.py code:

```
response = web.StreamResponse(status=200, reason='OK', headers={
        'Content-Type': 'multipart/x-mixed-replace; '
                        'boundary=--%s' % boundary,
    })
```

Should be changed to:

```
response = web.StreamResponse(status=200, reason='OK', headers={
        'Content-Type': 'multipart/x-mixed-replace; '
                        'boundary=%s' % boundary,
    })
```

Doesn't seem to be a big deal though, it seems to work pretty well regardless :)

Thank you for a bunch of great examples on how to use Balena!

Best regards
Daniel

Aforementioned PR merged.